body {
  background-image:url(https://previews.123rf.com/images/ivani4/ivani41302/ivani4130200002/18085480-Illustration-of-a-bus-Stock-Vector-bus-cartoon-coach.jpg);
}

div {
  background-color: lightblue;
  margin: auto;
  margin-top: 10em;
  padding: 5%;
  width: 80%;
}

header {
  background-color: lightblue;
}

table, th, td {
   border: 1px solid black;
}

#button {
  width: 20px;
  background-color: rgba(255, 255, 255, 0.0);
}

.itemPic {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.clearFix {
  clear: both;
}

#form {
  border-collapse: collapse;
}

#h{
  font-size: 30px;
  font-family: fantasy;
}
